.bar {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 132, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-title {
    color: white;
    margin-left: 10 px !important;
    display: block;
}